{% extends "layout.html" %}
{% from "macros/_table_macros.html" import render_resource_table %}

{% block title %}Virtual Machine Scale Sets{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4 text-gray-800 dark:text-white">Virtual Machine Scale Sets</h1>
<div class="report-card p-6">
    {% include 'pagination_controls.html' %}
    
    {{ render_resource_table(headers, rows, sort_by, sort_order, {'Virtual machine scale set': 'vms.vmss_detail'}) }}
    
    {% include 'pagination_controls.html' %}
</div>

{# Pass filter data to JavaScript #}
<script>
    const tableFilterData = {{ filter_data|tojson }};
    const activeFilters = {{ active_filters|tojson }};
</script>
{% endblock %}
